@model PolicyDetail
@{
  ViewData["Title"] = "Checkout";
}
@section style{
	<link href="~/css/policydetails.css" rel="stylesheet" />
}
<div class="card form-sha">
  <div class="card-header">
    <h5 class="card-title">Checkout</h5>
  </div>
  <div class="card-body justify-content-center align-items-center">
    <form asp-action="paymentconfirmation" method="post">
      <div class="row">
        <div class="col-md-8 py-4">
          <h4>Personal Details</h4>
          <div class="p-3">
            <div class="info-item mb-3">
              <span class="info-label">Full Name:</span>
              <span class="info-value">Kenneth Valdez</span>
            </div>
            <div class="info-item mb-3">
              <span class="info-label">Email:</span>
              <span class="info-value">fip@jukmuh.al</span>
            </div>
            <div class="info-item mb-3">
              <span class="info-label">Phone:</span>
              <span class="info-value">(239) 816-9029</span>
            </div>
            <div class="info-item mb-3">
              <span class="info-label">Policy Number:</span>
              <span class="info-value">123456</span>
            </div>
          </div>

          <h4 class="">Product Details</h4>
          <div class="p-3">
            <div class="product-detail mb-3">
              <span class="product-detail-label">Category:</span>
              <span class="product-detail-value">Life</span>
            </div>
            <div class="product-detail mb-3">
              <span class="product-detail-label">Product:</span>
              <span class="product-detail-value">Annuity</span>
            </div>
            <div class="product-detail mb-3">
              <span class="product-detail-label">Policy Number:</span>
              <span class="product-detail-value">1234567</span>
            </div>
            <div class="product-detail mb-3">
              <span class="product-detail-label">Premium:</span>
              <span class="product-detail-value">23,445</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-4" style="background-color: #f7f7f7;">
          <h3>Order Summary</h3>
          <div class="summary-detail">
            <span>Price</span>
            <span class="product-detail-value">23,445</span>
          </div>
          <div class="summary-detail">
            <span>Taxes</span>
            <span class="product-detail-value">0.0</span>
          </div>
          <div class="summary-detail">
            <span>Discount</span>
            <span class="product-detail-value">0.0</span>
          </div>
          <div class="summary-detail">
            <span class="summary-total">Total</span>
            <span class="summary-total">23,445</span>
          </div>
          <div class="mt-3">
            <h4 class="mb-3">Payment Options</h4>
            <label class="payment-option w-100">
              <input type="radio" name="paymentMethod" class="px-1">
              <img src="/img/paystack.256x252.png" alt="paystack" class="px-1">
              <span class="pl-3 px-1" style="font-size: 20px;color:#900000;font-weight: bold;">Paystack</span>
            </label>
          </div>
          <input type="submit" class="mt-2 make-payment-btn button" value="Make Payment" formaction="/Home/PolicyDetails">
        </div>
      </div>
    </form>
  </div>
</div>