h4 {
	font-weight: bold;
	margin: 0;
	padding-bottom: 10px;
	border-bottom: 2px solid #efe7e7;
}

.info-label {
	color: #6a6a6a;
	font-weight: bold;
}

.info-value {
	color: #333;
	margin-left: 5px;
}

.product-detail-label {
	color: #6a6a6a;
	font-weight: bold;
}

.product-detail-value {
	color: #333;
}

.payment-option {
	border: 1px solid #e0e0e0;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s;
}

	.payment-option:hover {
		background-color: #efe7e7;
		transform: translateY(-5px);
	}

	.payment-option img {
		width: 50px;
		height: auto;
		margin-right: 20px;
	}

.summary-detail {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-top: 1px solid #e0e0e0;
	color: #333;
	font-weight: bold;
	font-size: 16px;
}

.summary-total {
	font-size: 20px;
}

.make-payment-btn {
	display: block;
	width: 100%;
	padding: 15px;
	background-color: #900000;
	color: white;
	font-weight: bold;
	text-align: center;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s;
	font-size: 18px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

	.make-payment-btn:hover {
		background-color: #800000;
		transform: scale(1.05);
	}
